################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Wodsoft.Net/obj/Debug
/Wodsoft.Net.Test/obj/Debug
/Wodsoft.Net.UnitTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Wodsoft.Net.UnitTest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Wodsoft.Net.UnitTest/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Wodsoft.Net.UnitTest/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/TestResults/7becc834-4d52-4470-9b26-b4da597a5034
